<!DOCTYPE HTML>

<html>
	<head>
		<title>PragScan- Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="/static/main.css" />

	</head>
	<body>


			<section id="header">
				<div class="inner">
					<span class="icon major fa-cloud"></span>
					<h1>Hi, I'm <strong>Total plagiarism Checker</strong>, another fine<br />
				  Plagiarism Checker.</h1>
					<p>To use Total Plagiarism Checker, please SIGN UP or LOG IN and scan your Documents for FREE.</p>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Discover</a></li>
					</ul>
				</div>
			</section>


			<section id="one" class="main style1">
				<div class="container">
					<div class="row 150%">
						<div>
							<header class="major">
								<h2>What is Plagiarism & Plagiarism Checker?</h2>
							</header>
							<p>Technology has been both a miracle and a curse in terms of plagiarism. No doubt, it has become easier to find the required information and copy it. Since people often do that without attribution, it has also become easier to identify and deal with plagiarism.

With free plagiarism checker tools that can search billions of documents, and find matches even if they are only a few words in length, finding plagiarism has become as easy as detecting information in Google. It is now only a matter of merely processing your query and giving you the results.

Plagiarism definition is actually straightforward. When you use someone else’s work without crediting them, it is seen as stealing their intellectual property. Just like theft, the penalties for plagiarized work are also severe all over the world. The real problem is that most people are not even aware of what they are doing.

With our plagiarism detector, we strive to spread awareness of plagiarism while letting people know how they can prevent it. You can find countless real-life examples of plagiarism to help you identify it in future.

</p>
						</div>
						<div class="6u$ 12u$(medium) important(medium)">

					  </div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main style2">
				<div class="container">
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<ul class="major-icons">
								<li><span class="icon style1 major fa-code"></span></li>
								<li><span class="icon style2 major fa-bolt"></span></li>
								<li><span class="icon style3 major fa-camera-retro"></span></li>
								<li><span class="icon style4 major fa-cog"></span></li>
								<li><span class="icon style5 major fa-desktop"></span></li>
								<li><span class="icon style6 major fa-calendar"></span></li>
							</ul>
						</div>
						<div class="6u$ 12u$(medium)">
							<header class="major">
								<h2>How does the Plagiarism Checker work?</h2>
							</header>
							<p><p>For those who are not very familiar with the technology, the problem might seem a bit odd at first. After all, car starter starts cars and dishwasher wash dishes, but plagiarism detector doesn’t actually detect plagiarism. Instead, they actually identify fragments of identical text.</p>

<p>Today, there are a variety of techniques for doing that, but the end results are almost always the same. A plagiarism software processes the text to find matching sections of words between the documents it is processing and the ones it has indexed in its databases. This is true for most plagiarism test tools such as the plagiarism detector free online tool offered by Small SEO Tools.</p>

<p>Most of the plagiarism detector tools work on the same plagiarism test principle and basically function very much the same as Google or any other search engine works to find the matching words or phrases in other sources and provides the best results, sometimes along with the plagiarism checker percentage.</p>

<p>To check paper for plagiarism by hand is practically impossible, and this is what makes any plagiarism software so powerful for all the sources it can check. Nonetheless, there could be some blind spots as well; however, these blind spots are only an issue if people are not well aware of the potential blind spots or they don’t know how to use a plagiarism tool properly.</p>

<p>The article you submit to our free online plagiarism checker for students and teachers is scanned carefully, and so is the World Wide Web. It’s very likely you’ll see some red in your results as common phrases may trigger red flags. If there are complete sentences that aren’t original, Plagiarism Checker will identify the original source of any unoriginal or plagiarized content that was copied from the internet.</p>
</p>
						</div>
					</div>
				</div>
			</section>
			<section id="four" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2>Want to use Total Plagiarism Checker?</h2>
					</header>
					<p>Create an Account and get Started.</p>
					<ul class="actions uniform">
						<li><a href="/userreg/" class="button special">Sign Up</a></li>
						<li><a href="/userlogin/" class="button special">Log In</a></li>
					</ul>
			  </div>
	</section>


			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">

				</ul>
			</section>


			<script src="/static/jquery.min.js"></script>
			<script src="/static/jquery.scrolly.min.js"></script>
			<script src="/static/skel.min.js"></script>
			<script src="/static/util.js"></script>
			<script src="/static/main.js"></script>

	</body>
</html>
